# Node packages
node_modules
artifacts
cache
/simple-app/dist
*.r1cs
*.ptau

/simple-app/circuits/snarkjs_verification_key.json

# Yarn modern (see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Files in `Saturn` repo that don't need to be included here
/saturn-contracts/scripts/test_saturn
/saturn-contracts/scripts/utils.sh
/saturn-contracts/README.md
/saturn-contracts/scripts/tsconfig.json
/saturn-contracts/test
/saturn-contracts/src
/saturn-contracts/test
/simple-app/scripts/test_simple_app
/simple-app/test
.eslintrc.cjs
.prettierignore
.prettierrc.json
.solhint.json
.log
